[submodule "russian-words"]
	path = russian-words
	url = https://github.com/danakt/russian-words.git
[submodule "BotService"]
	path = BotService
	url = https://github.com/RGoolo/BotService.git
[submodule "opencvsharp"]
	path = opencvsharp
	url = https://github.com/shimat/opencvsharp.git
[submodule "GoogleApi"]
	path = GoogleApi
	url = https://github.com/vivet/GoogleApi.git
